fastapi
uvicorn
langchain
langchain-google-genai
google-generativeai
python-dotenv
pydantic
pydantic-settings
python-multipart
pinecone-client
langchain-pinecone
langchain-community
langchain-text-splitters
tiktoken
markdown
beautifulsoup4
tavily-python
